<!DOCTYPE html>
<html>
<head>
    <title>push</title>
</head>
<body>
    <h1>성공적으로 요청이 갔습니다.</h1>
    <button type="button" onclick="location.href='/'">돌아가기</button>
    <%include fcm_script.ejs%>
</body>
</html>
